# Super PDP api endpoint
SUPER_PDP_API_ENDPOINT="https://api.superpdp.tech"

# Client application keys
SUPER_PDP_ERP_CLIENT_ID=
SUPER_PDP_ERP_CLIENT_SECRET=
SUPER_PDP_ERP_OAUTH_REDIRECT_URL="https://localhost:8081/callback"